extends @pug/base

append globals
	- pageName = 'home'

append vars

block content
	+router(pageName)
		.home
			include @components/header/header
			h1 Index.html
			a(href="./article") article
			include @components/footer/footer
			include @components/analytics/analytics
			+sharing('vk')
